// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// DEBUG
.debug-div {
	outline:dashed 1px #f0f!important;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

i.icon {
		display:inline-block;
	svg {
		fill:rgba(0,0,0,0.5);
		width:1.5rem;
		height:1.5rem;
	}
}